*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: blueviolet;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* header */

header{
    width: 100%;
    height: 600px;
    background-image: linear-gradient(to top, #00000052 0%, #0c0b0c62 100%), url(./img/portadaropa.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin: 10px;
}

nav a:hover{
    color: rgba(216, 36, 213, 0.76);
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: #fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Acerca de nosotros */

/* nuestros productos */

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 350px;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
    padding: 4px;
}

.contenido-textos p{
    padding: 0 0 30px 35px;
    font-weight: 300;
    text-align: justify;
}

.contenido-textos{
    padding: 8%;
}

.lista{
    padding: 0 0 0 50px;
}

/* galeria */

.portafolio{
    background: #bde3eb;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(113, 172, 239, 0.581);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/* clientes */

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/* our team */

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}

.servicio-cont{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/* footer */

footer{
    background: rgb(89, 108, 126);
    padding: 0px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.logo{
    height: 100px;
}

.nasas{
    text-align: center;
}

.social-icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.social-icon{
    height: 38px;
    width: 38px;
    border-radius: 38px;
    /* border: 1px solid rgb(0, 0, 0); */
    background-image: url(https://cdn-icons-png.flaticon.com/128/1384/1384005.png);
    background-position: center;
    background-size: 100%; /*tamaño de iconos*/
    background-repeat: no-repeat;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.623);
}

.social-icon:hover{
    background-color: red;
    filter: invert(1);
}

.social-icon:nth-of-type(2){
    background-image: url(https://cdn-icons-png.flaticon.com/128/1384/1384015.png);
    /* background-color: rgba(255, 255, 255, 0.623); */
}

.social-icon:nth-of-type(3){
    background-image: url(https://cdn-icons-png.flaticon.com/128/1384/1384007.png);
    /* background-color: #ff00f253; */
}

.social-icon:nth-of-type(4){
    background-image: url(https://cdn-icons-png.flaticon.com/128/3669/3669691.png);
    /* background-color: rgba(255, 255, 255, 0.623); */
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;  
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

/* menu secundario */

.menu-secundario{
    width: 25%;
    margin-top: 60px;
    text-align:left;
    /* text-align: justify; */
    /* background-color: antiquewhite; */
}









